PORT=3333
NODE_ENV=development

# Banco de Dados
DATABASE_PATH=./database/fac_garibaldi.db

# Autenticação JWT
JWT_SECRET=super_secret_jwt_key_troque_em_producao_12345
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=super_secret_refresh_jwt_key_troque_em_producao_67890
REFRESH_TOKEN_EXPIRES_IN=7d

# Diretório de Arquivos
FILES_DIR=./files
